body {
    margin: 0;
    background: #f5f5f5;
    font-family: 'Segoe UI', Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
    max-width: 1000px;
    margin: auto;
    padding: 100px 20px;
}

h1 {
    font-size: 52px;
    margin-bottom: 10px;
}


p {
    color: #444;
}

.hero-buttons {
    display: flex;
    gap: 10px;
}


h2 {
    font-size: 28px;
    margin-bottom: 20px;
    border-left: 5px solid #007bff;
    padding-left: 10px;
}

h3 {
    font-size: 20px;
}

.btn {
    background: #007bff;
    color: white;
    padding: 12px 22px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
}

.btn:hover {
    background: #0056b3;
    transform: translateY(-2px);
}

section {
    padding: 90px 20px;
    max-width: 1000px;
    margin: auto;
}

.projeto {
    /* cards */
    background: white;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    padding: 15px;
    opacity: 0;
    transform: translateY(30px);
    overflow: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease;}

.projeto.aparecer {
    opacity: 1;
    transform: translateY(0);
}

.projeto:hover {
    transform: translateY(-8px) scale(1.02);
}

.projeto img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    height: 200px;
    object-fit: cover;
}

#listaProjetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.projeto a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    background: #007bff;
    padding: 10px 14px;
}

.projeto a:hover {
    background: #0056b3;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.tech-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.tech-list li {
    background: #1e1e1e;
    color: white;
    padding: 10px 18px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
}

.tech-list span {
    background: #007bff;
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 14px;
}

p {
    color: #444;
    line-height: 1.7;
    max-width: 700px;
}


@media (max-width: 768px) {
  header {
    text-align: center;
    padding: 40px 20px;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .projeto {
    width: 100%;
  }
}

.disponivel {
    margin-top: 15px;
    font-weight: bold;
    color: #007bff;
}